* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #f58dff;
    height: 100vh;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin: 1rem;
    list-style-type: none;
    font-size: 2rem;

    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {
        color: red ;
    }
    20% {
        color: yellow;
    }
    40% {
        color: green;
    }
    60% {
        color: blue;
    }
    80% {
        color: purple;
    }
    100% {
        color: red;
    }
}